@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Humanbumsuk';
}

body {
    margin: 0;
}

Ul{
    list-style:none;
    padding-left:0px;
}

.header{
    display: flex;
    width: 100%;
    margin: auto;
    height: 86px;
    background-color: rgb(0, 0, 0);
    position: relative; 
    z-index: 2;
}

.title{
    width: 20%;
    height: 60px;
    margin-top: 5px;
    margin-left: 15px;
}

h1{
    color: rgb(225, 225, 225);
}

.allmenu{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1280px - 100px);
    margin-top: 5px;
}

.sub_menu_1 > li{
    display: none;
    padding: 8px 16px;
    background-color: black;
}

.sub_menu_1 > li > a {
    color:rgb(255, 255, 255);
    text-decoration-line : none
}

.allmenu .sub_menu_1 {
    line-height: 40px;
}

.allmenu >li > a{
    color: rgb(255, 255, 255);
    padding: 12px 36px;
    text-decoration-line : none
}

.menu_1:hover .sub_menu_1 > li{
    display: block;
}

.header .main_text{
    position: absolute;
}

.maim_text{
    position: relative; 
    z-index: 1;
}

footer {
    width: 100%;
    height: 8vw;
    background-color: black;
}

footer > p{
    margin-top:0;
    margin-left: 2vw;
    color: white
}

footer > p > span{
    margin-top: center;
}

body {
    background-color: black;
}

.main_text {
    background-color: aliceblue;
}