.intro_img{
    background-image: url('../photo/IMG_6388.HEIC');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 49vw;
    border:1px solid ;
}

h2 {
   color: aliceblue; 
   font-size: 80px;
   margin-left: 2vw;
   margin-top: 42vw;
}

.img {
    width: 300px;
    margin: auto 6vw auto 6vw;
}

.created{
    border:1px solid ;
}

.img_text {
    display:inline;
    margin: auto 14vw auto 13.5vw;
    font-size: 30px;
}

.img_text > a{
    color: black;
    text-decoration-line: none;
}
